<!--The content below is only a placeholder and can be replaced.-->
<div class="card-container">

  <h1> Contact list : </h1>
  <md-card *ngFor="let person of persons" class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{person.name.first}} {{person.name.last}}</md-card-title>
      <md-card-subtitle>{{person.email}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{person.picture}}{{person._id}}">
    <md-card-content>
      <p>
        {{person.about}}
      </p>
    </md-card-content>
    <md-card-actions class="card-actions">
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>